<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>:emoji: search</title>
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:type" content="website" />
	<meta property="og:title" content=":emoji: search" />
	<meta property="twitter:text:title" content=":emoji: search" />
	<meta property="twitter:title" content=":emoji: search" />
	<meta name="description" content=":emoji: searchはQiitaやGithubで使える絵文字を日本語でも検索できるサイトです。">
	<meta property="og:url" content="https://emoji-search.nyamu.me" />
	<meta property="og:image" content="https://emoji-search.nyamu.me/static/ogp.png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
	<style media="screen">
		.emojione{font-size:inherit;height:3ex;width:3.1ex;min-height:20px;min-width:20px;display:inline-block;margin:-.2ex .15em .2ex;line-height:normal;vertical-align:middle}img.emojione{width:auto}
		[v-cloak] {
			 display: none;
		 }
		 body{
		 	background-color: #723D46;
		 }
		 p{
		 	color: white;
		 }
		 table tbody td{
		 	text-align: center;
		 	padding: 0px;
		 }
		 input[type=text]{
		 	margin:0;
		 }
	</style>
</head>

<body>
	<nav class="top-bar" style="text-align:center;margin-bottom:20px;background-color:#C9CBA3;color:white;font-weight:400;font-size:20px;" data-topbar role="navigation">
		:emoji: search
	</nav>
	<div class="row" id="app">
		<div class="small-9 small-centered large-centered columns grid3">
			<input type="text" value="" placeholder="絵文字を検索！" v-model.trim="text" v-on:keyup="search">
			<table>
				<tr v-for="result in results" v-cloak>
					<td v-html="result.html">{{ result.html }}</td>
					<td :value="result.code">
						<input v-on:click="copy" type="text" v-model="result.code">
					</td>
				</tr>
			</table>
			<hr>
			<p style="font-weight:600">検索機能向上のために貴重なご意見をお聞かせ下さい。</p>
			<form id="proposal" name="proposal" method="POST" netlify>
				<input name="key" type="text" style="margin-bottom:5px" placeholder="絵文字" required>
				<p>と検索したら</p>
				<input name="value"type="text" style="margin-bottom:5px" placeholder=":emoji:" required>
				<p>がべるできだ</p>
				<div data-netlify-recaptcha></div>
				<input type="submit" style="color:white;font-size:15px;margin-top:20px" class="button success expanded">
			</form>
		</div>
	</div>
</body>

</html>
